.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  /* background: var(--background-color); */
  margin-top: 38px;
  padding-top: 70px;
  padding-bottom: 70px;
  gap: 20px;
}



.dark {
  background: rgba(117, 32, 197, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

/* .dark{
  background-color: #7520c5;
} */

/* Three dots styling */

.lines {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.lines div {
  width: 12px;
  height: 12px;
  background: rgba(85, 85, 85, 0.6);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.lines div:hover {
  transform: scale(1.2);
  background: rgba(138, 43, 226, 0.8);
}

.lines .center_line {
  background: #8a2be2;
  box-shadow: 0 4px 10px rgba(138, 43, 226, 0.6);
}

.proficiencyContainer {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

.heading {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skillName {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  flex: 1;
}

.skillBar {
  flex: 2;
  border-radius: 5px;
  margin: 10px;
  height: 8px;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #efefef;
  overflow: hidden;
  position: relative;
  display: block;
  height: 15px;
  transition: width 0.8s ease;
}

.skillBar::before {
  content: "";
  display: block;
  height: 100%;
  background-color: var(--primary-color);
  width: var(--proficiency, 0%);
  transition: width 0.8s ease;
}

/* Project overview section */

.projectOverview {
  text-align: center;
  margin-top: 4px;
  padding-top: 40px;
  width: 98%;
}

.projectHeading {
  font-size: 2rem;
  margin-bottom: 25px;
  font-weight: bold;
}

.projectGrid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-bg-color);
  color: var(--card-text-color);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  width: 25%;
  text-align: center;
  /* backdrop-filter: blur(8px); */
  /* -webkit-backdrop-filter: blur(8px); */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /* transition: transform 0.3s ease, opacity 0.4s ease, box-shadow 0.4s ease; */
  /* transition: transform 0.3s ease, background 0.4s ease, opacity 0.4s ease,
    color 0.4s ease; */
}

.projectCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: var(--card-hover-bg-color);
  /* transform: translateY(-10px); */
  /* transform: scale(1.05); */
  /* opacity: 0.9; */
  /* backdrop-filter: blur(12px); */
  /* -webkit-backdrop-filter: blur(12px); */
}
.projectCard:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(138, 43, 226, 0.2),
    rgba(250, 208, 196, 0.2),
    rgba(251, 194, 235, 0.2)
  );
  z-index: -1;
  border-radius: 8px;
  transition: opacity 0.4s ease;
}

.projectCard h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.projectCard p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.btn_contanier {
  display: flex;
  justify-content: space-between;
}

.tech_contanier {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.tech_contanier span {
  font-size: 12px;
}

.viewButton {
  padding: 4px 12px;
  background-color: #8a2be2;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.viewButton:hover {
  background-color: var(--button-hover-bg-color);
}
.viewButton:active {
  transform: scale(0.95);
}
.viewMoreProjetcs {
  width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  padding: 10px 0;
}

.viewButton_readmore {
  text-transform: uppercase;
  font-size: 11px;
  padding: 8px 16px;
  border: 1px solid #8a2be2;
  background-color: #ffffff;
  color: #8a2be2;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.viewButton_readmore:hover {
  background-color: #8a2be2;
  color: #efefef;
}

.arrowSign {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
  /* transition: transform 0.3s ease, background-color 0.3s ease; */
}

.arrowSign:hover {
  transform: scale(0.95);
}

.arrowSign.transition {
  opacity: 1;
  visibility: visible;
}

.bottom_p {
  font-size: 14px;
  padding-bottom: 10px;
  color: var(--text-color);
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30;
    padding: 30px;
    padding-top: 50px;
  }
  .main_container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #acountContainer {
    display: none;
  }
  .projectGrid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .projectCard {
    width: 45%;
    margin: 10px 0;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .skillName {
    font-size: 0.8em;
  }
  .viewMoreProjetcs {
    width: 92%;
  }
}

@media screen and (max-width: 550px) {
  .projectCard {
    width: 90%;
    height: auto;
    margin: 10px 0;
  }
  .viewMoreProjetcs {
    width: 90%;
  }
  .projectHeading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .heading {
    font-size: 1.4rem;
  }
}
