@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
  --text-color: #333;
  --primary-color: #8a2be2;
  --secondary-color: #f7d8d0;
  --border: #333;

  --card-bg-color: #f9f9f9;
  --card-text-color: #333;
  --button-bg-color: #8a2be2;
  --button-hover-bg-color: #6a20b0;

  --card-box-shadow-light: 0 2px 5px rgba(0, 0, 0, 0.4);
  --card-box-shadow-dark: 0 2px 5px rgb(0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark theme styles */
[data-theme="dark"] {
  

  --background-color: #2a1b3d;
  --text-color: #fff;
  --primary-color: #fbc2eb;
  --secondary-color: #8a2be2;
  --border: #a7a7a7;

  --card-bg-color: #413157; 
  --card-text-color: #f9f9f9;
  --button-bg-color: #fad0c4;
  --button-hover-bg-color: #e4a5cc; 
}

.main_container {
  background-color: var(--background-color);
}
button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.menu li:hover {
  /* background-color: var(--secondary-color); */
  color: var(--primary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
