.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 26%;
  padding: 1rem 2rem;
  color: var(--text-color);
  background: var(--background-color);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #868686;
}

.navbar.scrolled {
  background: rgba(40, 20, 60, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}

.light {
  background-color: #e9e9e9;
}
.dark {
  color: #e9e9e9;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
  transition: transform 0.3s ease;
}

.active {
  background-color: #464646;
  border-radius: 8px;
  color: #fff !important;
}

.menu li {
  position: relative;
  cursor: pointer;
  color: var(--text-color);
  font-weight: 600;
  padding: 8px;
  transition: all 0.3s ease;
}

.menu li:hover {
  color: var(--primary-color);
  border-radius: 5px;
  transform: scale(1.05);
}

.menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.menu li:hover::after {
  width: 100%;
}

.btn {
  background: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.menu li {
  cursor: pointer;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.iconContanier {
  display: flex;
  gap: 13px;
  font-size: 12px;
  margin-bottom: 10px;
}

.icon {
  color: var(--text-color);
  transition: color 0.3s ease;
}

.icon:hover {
  color: #0570ce;
}

/* Loader styling  */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}
.image {
  object-fit: cover;
  width: 50;
  height: 50;
}
.text {
  margin-top: 16;
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
}
.span {
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .menu {
    opacity: 0;
    transform: translateY(120px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* transition: transform 0.4s ease-in-out; */
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--background-color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    pointer-events: none;
    display: flex;
    align-items: start;
    flex-direction: column;
    color: var(--text-color);
  }

  .menu_open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }


  .hamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    padding-top: 10px;
    cursor: pointer;
  }

  .iconWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: rotate(10deg);
  }

  .light .icon {
    filter: invert(0);
  }

  .dark .icon {
    filter: invert(1);
  }

  .show {
    opacity: 1;
    transform: rotate(0deg);
  }

  .hide {
    opacity: 0;
    transform: rotate(90deg);
  }

  .menu {
    gap: 2.5rem;
  }

  .menu li {
    width: 100%;
    font-size: 0.8rem;
  }

  .menu li:hover {
    color: var(--primary-color);

    /* color: var(--text-color); */
    /* color: #8a2be2; */
    border-radius: 5px;
    transform: scale(0.95);
  }

  .menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);

    /* background-color: #8a2be2; */
    transition: width 0.3s ease;
  }

  .menu li:hover::after {
    width: 100%;
  }

  .btn {
    /* background: var(--primary-color); */
    background: none;
    color: var(--primary-color);
    border: none;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    font-weight: bolder;
    font-size: x-large;
    transition: all 0.3s ease;
  }
}
